<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="leandroruizfaria03@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(17) 99676-0301</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av. Amazonas 446 - 15650-000 - Estrela d' Oeste - SP</h5>
        </p>
    </div>
</div>